body {
  text-align: center;
}
/*Header*/
.navbar-brand {
  margin: 0;
}

/*fa icon*/
.fab,
.fas {
  font-size: 1.2rem;
  color: black;
}


/* Toggle Switch */
/* The switch - the box around the slider 
.toggle-switch {
  
}*/

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 19px;
}

.heading {
  font-size: 1.4rem;
} 
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #e7b03a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4f4f50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Input form */
.form-control{
  text-align: center;

}
.form-or {
  padding: 0;
  color: #e7b03a;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Modal - Credit Florin Pop Youtube video guide. Walkthrough helped create modal and code was used and modified for project.  */
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}
/*--------------------------------------------Media Queries*/
@media screen and (min-width: 768px) {
    
}
