@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Raleway:wght@100;300&display=swap');

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #707070;
    --font-color: #424242;
    --bg-color: #FFFFFF;
    --heading-color: #292922;
    --alt-bg-color: #f5cf54;
    --button-color: #707070;
    --border: none;
}

[data-theme="dark"] {
    --primary-color: #424242;
    --secondary-color: #ffffff;
    --font-color: #ffffff;
    --bg-color: #707070;
    --alt-font-color: #F2A900;
    --alt-bg-color: #707070;
    --button-color: #F2A900;
    --border: 1px solid #fff;
}

body {
    background-color: var(--primary-color);
    text-align: center;
    font-family: 'Raleway', 'helvetica';
}

.logo {
    width: 20vw;
}

h1 {
    font-family: 'Baloo Tamma 2', 'helvetica';
    font-size: 15vw;
    display: inline;
    color: var(--font-color);
    padding: 0;
}

h2 {
    font-family: 'Raleway', 'helvetica';
    font-weight: 300;
    font-size: 3.5vw;
    color: var(--font-color);
    margin: auto;
    padding: 10px;
}

h3 {

    font-size: 1.5rem;
    color: var(--font-color);
    margin: auto;
}

h4 {
    font-size: 1rem;
    font-family: 'Raleway', 'helvetica';
    font-weight: 300;
    color: var(--font-color);
    margin: auto;
    padding: 5px;
}

h5 {
    color: var(--alt-font-color);
    margin: 4px;
}

p {
    color: var(--font-color);
    margin: 0;
    text-align: left;
}

a {
    color: var(--primary-color);
}

.form-control {
    border-radius: 0;
    background-color: var(--bg-color);
    border-color: var(--secondary-color);
    color: var(--font-color);
    text-align: center;
}

li {
    text-align: left;
    color: var(--font-color);
}

.accordian {
    padding: 0;
}

.collapsed::placeholder {
    border-color: var(--secondary-color);
}

.form-control {
    border: 1px solid;
    border-radius: 0.25rem;
}

.form-control::placeholder {
    color: var(--font-color);
    opacity: 1;
}

.coin-input {
    outline-color: var(--secondary-color);
    background-color: var(--bg-color);
}

/*------------------ Header*/
.navbar-brand {
    margin: 0;
}

.navbar {
    padding: 20px 0;

}

/*------------------ fa icon*/
.fab,
.fas {
    font-size: 1.5rem;
    color: black;
    color: var(--secondary-color);
}


.fa-info:hover,
.fa-info:hover {
    padding: 10px 15px;
    font-size: 1.5rem;
    color: #eb9e3b;
    background-color: #fff;
    border: 2px solid #eb9e3b;
    border-radius: 0.5rem;
}

.fa-info {
    padding: 10px 15px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #eb9e3b;
    border: 2px solid #eb9e3b;
    border-radius: 0.5rem;
}


/*------------------ Toggle switch */
.theme-switch-wrapper {
    align-items: center;
    margin-bottom: auto;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #eb9e3b;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#current-value {
    font-size: 1.4rem;
    color: #f2a900;
}

/*------------------ Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/*------------------ Modal Header */
.modal-header {
    padding: 2px;
    background-color: #f5cf54;
    background-color: var(--bg-color);
    color: white;
}

/*------------------ Modal Content */
.modal-content {
    background-color: var(--alt-bg-color);
    margin: auto;
    padding: 10px;
    border: 0px solid rgba(0, 0, 0, 0.2);
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.6s;
}

/*------------------ Contact Modal */
.mail-form-control {
    margin: 5px 0px;
    border: var(--border);
    border-radius: 0.25rem;
    background-color: var(--bg-color);
    border-color: var(--secondary-color);
    color: var(--font-color);
    text-align: left;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.mail-form-control::placeholder {
    color: var(--font-color);
    opacity: 1;
}

#contactForm {
    margin: 0 auto;
    text-align: left !important;
}

.textarea-label {
    margin: auto;
    padding: 5px 0 20px;
}

.submitButton {
    width: 50%;
    margin: auto;
    color: #fff;
    padding: 10px;
    border: 0;
    border-radius: 0.25rem;
    background-color: var(--button-color);
}

.submitButton:hover {
    color: #000;
}

/*------------------ Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/*------------------ The Close Button */
.close-info,
.close-contact {
    width: fit-content;
    color: var(--secondary-color);
    padding: 0 10px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#infoBtn {
    width: auto;
    border: 0;
    padding: 10px 10px 30px;
    background-color: var(--primary-color);
}

.close-info:hover,
.close-info:focus,
.close-contact:hover,
.close-contact:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#calculateButton {
    color: #000;
    padding: 10px;
    border: 0;
    border-radius: 0.25rem;
    background-color: #eb9e3b;
    width: 100%;
}

#calculateButton:hover {
    color: #FFFFFF
}



.contact-info-email,
.contact-info-github {
    padding: 40px;
}

#contactBtn {
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/*--------------------------------------------Chart*/
.chart-container {
    padding-top: 1.5rem;
}

/*.output {
    padding: 0;
    
}*/

/*--------------------------------------------Media Queries*/
@media screen and (min-width: 768px) {
    body {
        width: 920px;
        margin: auto;
    }

    .logo {
        width: 200px;
    }

    h1 {
        font-size: 120px;
    }

    .chart-container {
        padding: 0;
    }

    .modal-content {
        width: 50%;
    }
}