@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Raleway:wght@100;300&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #525252;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    --alt-bg-color: #f5cf54;
}

[data-theme="dark"] {
    --primary-color: #535353;
    --secondary-color: #ffffff;
    --font-color: #ffffff;
    --bg-color: #707070;
    --alt-font-color: rgb(242, 169, 0);
    --alt-bg-color: #707070;

}

body {
    background-color: var(--primary-color);
    text-align: center;
    font-family: 'Raleway', 'helvetica';
}

.logo {
    width: 20vw;
}

h1 {
    font-family: 'Baloo Tamma 2', 'helvetica';
    font-size: 15vw;
    display: inline;
    color: var(--font-color);
    padding: 0;
}

h2 {
    font-family: 'Raleway', 'helvetica';
    font-weight: 300;
    font-size: 3.5vw;
    color: var(--font-color);
    margin: auto;
    padding: 10px;
}

h3 {

    font-size: 1.5rem;
    color: var(--font-color);
    margin: auto;
}

h4 {
    font-size: 1rem;
    font-family: 'Raleway', 'helvetica';
    font-weight: 300;
    color: var(--font-color);
    margin: auto;
    padding: 5px;
}

h5 {
    color: var(--alt-font-color);
    margin: 4px;
}

p {
    color: var(--font-color);
    margin: 0;
    text-align: left;
}

a {
    color: var(--primary-color);
}

.form-control {
    border-radius: 0;
    background-color: var(--bg-color);
    border-color: var(--secondary-color);
    color: var(--font-color);
    text-align: center;
}

li {
    text-align: left;
    color: var(--font-color);
}

.accordian {
    padding: 0;
}

.collapsed::placeholder {
    border-color: var(--secondary-color);
}

.form-control::placeholder {
    color: var(--font-color);
    opacity: 1;
    /* Firefox */
}

.coin-input {
    outline-color: var(--secondary-color);
    background-color: var(--bg-color);
}

/*Header*/
.navbar-brand {
    margin: 0;
}

.navbar {
    padding: 20px, 0;

}

/*fa icon*/
.fab,
.fas {
    font-size: 1.2rem;
    color: black;
    color: var(--secondary-color);
    padding: 5px;
}

.fa-info {
    color: #eb9e3b;
}


/*Toggle switch */
.theme-switch-wrapper {
    align-items: center;
    margin-bottom: auto;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #eb9e3b;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#c-v {
    color: #f2a900;
}

/* Modal */
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px;
    background-color: #f5cf54;
    background-color: var(--bg-color);
    color: white;
}

/* Modal Content */
.modal-content {
    background-color: var(--alt-bg-color);
    margin: auto;
    padding: 10px;
    border: 0px solid rgba(0, 0, 0, 0.2);
    /*border: 1px solid #888;*/
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.6s;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: var(--secondary-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#infoBtn {
    width: auto;
    border: 0;
    padding: 10px;
    background-color: var(--primary-color);
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#calculateButton {
    padding: 10px;
    border: 0;
    background-color: #f5cf54;
    width: 100%;
}


/*--------------------------------------------Media Queries*/
@media screen and (min-width: 768px) {}